/* FooterComponent.css */
.footer {
    background-color: #FFB200;
    padding: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;  
  }
  
  .social-icon {
    margin-left: 15px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  