/* HeaderComponent.css */

.active-page {
  font-weight: bold;
  text-decoration: none; 
  color: #FFFFFF !important; 
  transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease, color 0.3s ease; 
  padding: 10px 30px; 
}

body:not(.dark-mode) .active-page {
  background-color: #1e1e1e !important;
}

body.dark-mode .active-page {
  background-color: #FFB200 !important;
}

.navbar .nav-link {
  color: #FFFFFF; 
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-link:hover {
  background-color: #FFB200; 
  color: #FFFFFF;
  padding: 12px 25px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.02); 
}

.navbar .nav-link:active {
  background-color: #FFB200; 
  color: #FFFFFF;
  transform: scale(1);
}
